<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servimotos Libertadores Taller de Motos</title>
  <link rel="stylesheet" href="./Styles/Index.css">
  <link rel="icon" type="ima/icon" href="Teo y servimotos.jpg">
</head>
<body>
  <header>
    <img src="Teo y servimotos.jpg" width="181px" alt="85px">
    <h1><center>Taller de Servicio Técnido de Motos</center></h1>
    <h2>Servimotos Libertadores</h2>
    <p>Servicios de reparación y mantenimiento de motocicletas</p>
  </header>
    <nav>
    <img src="Motos de Inicio.gif">
      <ul class="menu-horizontal">
          <li><a href="Index.html"> Inicio </a></li>
          <li><a href="Servicios.html"> Servicios</a></li>
          <li><a href="Ubicacion.html"> ¿Dónde nos encontramos?</a></li>
          <li><a href="Tips.html"> Tips para el cuidado de tu moto</a></li>
      </ul>
      </nav>
      <br>
      <br>
      <section id="productos">
        <ul class="productos">
          <script>
            const productos = await fetch("https://my-server.com/api/productos");
            const productosJson = await productos.json();
            for (const producto of productosJson) {
              // Mostrar el producto
              const li = document.createElement("li");
              li.innerHTML = `
                <div class="producto">
                  <img src="${producto.imagen}" alt="${producto.nombre}">
                  <h2>${producto.nombre}</h2>
                  <p>${producto.descripcion}</p>
                  <p>${producto.precio}</p>
                </div>
              `;
              // Agregar el producto a la lista
              $("#productos").append(li);
            }
          </script>
        </ul>
      </section>
      <footer>
        <p>Taller mecánico de motos desde 2011</p>
      </footer>
  </body>
</html>    