<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servimotos Libertadores Taller de Motos</title>
  <link rel="stylesheet" href="./Styles/Index.css">
  <link rel="icon" type="ima/icon" href="Teo y servimotos.jpg">
</head>
<body>
  <header>
    <img src="Teo y servimotos.jpg" width="181px" alt="85px">
    <h1><center>Taller de Servicio Técnido de Motos</center></h1>
    <h2>Servimotos Libertadores</h2>
    <p>Servicios de reparación y mantenimiento de motocicletas</p>
  </header>
    <nav>
    <img src="Motos de Inicio.gif" width="1000px">
      <ul class="menu-horizontal">
          <li><a href="Index.html"> Inicio</a></li>
          <li><a href="Servicios.html"> Servicios</a></li>
          <li><a href="Productos.html"> Productos </a></li>
          <li><a href="Ubicacion.html"> ¿Dónde nos encontramos?</a></li>
      </ul>
    </nav>
    <br>
    <br>
    <section id="tips">
        <h2>Tips para el cuidado de tu moto</h2>
        <p>
          El mantenimiento regular de tu moto es esencial para su seguridad y longevidad.
        </p>
    
        <ul>
          <li>
            Revisa la presión de los neumáticos con regularidad.
          </li>
          <li>
            Cambia el aceite y el filtro de aceite según las recomendaciones del fabricante.
          </li>
          <li>
            Limpia y lubrica la cadena de transmisión.
          </li>
          <li>
            Revisa el líquido de frenos y el líquido refrigerante.
          </li>
          <li>
            Haz una revisión técnica anual.
          </li>
        </ul>
        <p>
          Para obtener más información sobre el mantenimiento de tu moto, consulta el manual del propietario o visita la página web del fabricante.
        </p>
      </section>
</body>
</html>